{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

{{if 'message' in globals():}}
<h2>{{=message}}</h2>

<h4>{{=T('Quick guide (client)')}}</h4>
<ol>
  <li>{{=T('This is an application to help Linux users to connect with trained technicians remotely')}}</li>
  <li>{{=T('Create an free account and register you complain, mention a suitable time during which you will keep your device online')}}</li>
  <li>{{=T('A technician will see list of complains and will attend them based on his expertise')}}</li>
  <li>{{=T('You will receive an request to access your device, you can allow/deny request made by technician')}}</li>
  <li>{{=T('If allowed, technician will obtain full root access of your device, you can optionally chat with technician')}}</li>
  <li>{{=T('You may extend the time if the issue is not resolved')}}</li>
</ol>
{{=form}}
{{elif 'content' in globals():}}
{{=content}}
{{else:}}
{{=BEAUTIFY(response._vars)}}
{{pass}}
