{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

{{if 'message' in globals():}}
<h2>{{=message}}</h2>

<h4>{{=T('Quick guide (technician)')}}</h4>
<ol>
  <li>{{=T('This is an application to help Linux users to connect with trained technicians remotely')}}</li>
  <li>{{=T('A technician(you) will see list of complains and will attend them based on expertise')}}</li>
  <li>{{=T("If allowed by client, technician(you) will obtain full root access of client's machine, you can optionally chat with client too")}}</li>
  <li>{{=T('You may extend the time if the issue is not resolved')}}</li>
</ol>

<h2>All complaints</h2>
{{for row in rows:}}
{{=B('User identification number :')}} {{=A(row.user_id, _href='http://www.web2py.com')}}<br>
{{=B('Complaint :')}} {{=row.About_your_issue}}<br>
{{=B('Start time :')}} {{=row.Start_time}}<br>
{{=B('End time :')}} {{=row.End_time}}<br>
{{=HR()}}
{{pass}}


{{elif 'content' in globals():}}
{{=content}}
{{else:}}
{{=BEAUTIFY(response._vars)}}
{{pass}}
